<form method="post">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
  {% csrf_token %}
  <input name="username" placeholder="Имя пользователя" />
    <input name="nickname" type="text" placeholder="Никнейм" required>
  <input name="email" type="email" placeholder="Email" />
      <input name="password" type="password" placeholder="Пароль" />
  <button type="submit">Зарегистрироваться</button>
</form>
